body {
    font-family: sans-serif
}



.content {
    display: flex; 
    flex-direction: column;
    
    align-items: center;
    gap: 50px; 
}

.header {

}

.buttons {
    display: flex; 
    flex-direction: column;  
    gap: 20px;   

}

.supportbuttons {
    display: flex; 
    justify-content: center;
    gap: 20px; 

}

#start {
    height: 100px; 
    width: 400px; 
    background-color: lightgreen;
    border-width: 0px;
    border-radius: 5px; 
    font-size: 3em; 
    color: white; 
}

#mealbreak {
    height: 50px; 
    width: 190px; 
}

#end {
    height: 50px; 
    width: 190px; 
}


.time {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    gap: 100px;  
    
}

.worktime {
    flex: 1; 
}

.pausetime {
    flex: 1; 
}